@page "/spotify"
@using Dapr.Client
@using Microsoft.AspNetCore.SignalR.Client
@using Spotify.Shared.Models;
@inject IJSRuntime runtime
@inject DaprClient daprClient

<MudText Typo="Typo.h5" Align="Align.Center" GutterBottom="true">Device Session Id: @(deviceId)</MudText>
<MudExpansionPanels MultiExpansion="true" Color="">
    <MudExpansionPanel Text="Search">
        <TitleContent>
            <div class="d-flex">
                <MudIcon Icon="@Icons.Material.Filled.Search" class="mr-3" Color="Color.Primary"></MudIcon>
                <MudText Color="Color.Primary">Search</MudText>
            </div>
        </TitleContent>
        <ChildContent>
             <MudGrid>
                <MudItem xs="12" sm="12" md="12">
                    <MudTextField T="string" ValueChanged="@OnSelect" Label="Search" Variant="Variant.Outlined" Adornment="Adornment.End" AdornmentIcon="@Icons.Filled.Search" AdornmentColor="Color.Secondary" Style="color:red;" />
                </MudItem>
            </MudGrid>
            <SpotifyComponent Artists="@artists" Albums="@albums" Songs="@songs" ></SpotifyComponent>
        </ChildContent>
    </MudExpansionPanel>
    <MudExpansionPanel>
        <TitleContent>
            <div class="d-flex">
                <MudIcon Icon="@Icons.Material.Filled.SavedSearch" class="mr-3" Color="Color.Primary"></MudIcon>
                <MudText Color="Color.Primary">Latest Search</MudText>
            </div>
        </TitleContent>
        <ChildContent>
            <MudGrid>
                <MudItem xs="12" sm="12" md="12">
                    <MudButton OnClick="UpdateLatest" Variant="Variant.Filled" Color="Color.Primary">Get Latest Search</MudButton>
                </MudItem>
            </MudGrid>
            @if(latestResult!= null)
            {
                <SpotifyComponent 
                    Artists="@latestResult.ArtistsStore.SelectMany(a => a.Data)"
                    Albums="@latestResult.AlbumsStore.SelectMany(a => a.Data)"
                    Songs="@latestResult.SongsStore.SelectMany(a => a.Data)">
                </SpotifyComponent>
            }
        </ChildContent>
    </MudExpansionPanel>
</MudExpansionPanels>

@code {
    private HubConnection connection;
    private IEnumerable<Album> albums;
    private IEnumerable<Song> songs;
    private IEnumerable<Artist> artists;

    private StoreResult latestResult;
    private string deviceId = Guid.NewGuid().ToString();

    protected override void OnInitialized()
    {
        var url = "http://spotifyfrontend/notification";
        connection = new HubConnectionBuilder()
            .WithUrl(url)
            .WithAutomaticReconnect()
            .Build();
        connection.On<IEnumerable<Album>>("albumNews", OnAlbumProcessed);
        connection.On<IEnumerable<Song>>("songsNews", OnSongsProcessed);
        connection.On<IEnumerable<Artist>>("artistsNews", OnArtistsProcessed);
        connection.On<string>("UpdateDeviceId", SetDeviceId);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await connection.StartAsync();
        }
    }

    private async Task OnSelect(string search)
    {
        await daprClient.InvokeMethodAsync(HttpMethod.Get, "spotifybackend", $"api/Spotify/{deviceId}/search?q={search}");
    }

    private void SetDeviceId(string deviceId)
    {
        this.deviceId = deviceId;
        StateHasChanged();
    }

    private Task OnAlbumProcessed(IEnumerable<Album> @event)
    {
        albums = @event;
        StateHasChanged();
        return Task.CompletedTask;
    }

    private Task OnArtistsProcessed(IEnumerable<Artist> @event)
    {
        artists = @event;
        StateHasChanged();
        return Task.CompletedTask;
    }

    private Task OnSongsProcessed(IEnumerable<Song> @event)
    {
        songs = @event;
        StateHasChanged();
        return Task.CompletedTask;
    }

    private async Task UpdateLatest()
    {
        // Aggiorna le ultime ricerche
        latestResult = await daprClient.InvokeMethodAsync<StoreResult>(HttpMethod.Get, "spotifybackend", $"api/Spotify/{deviceId}/latest");
        StateHasChanged();
    }
}
